@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --primary-color: #70b5eb;
  --secondary-color: #35698e;

  --primary-red: #902626;
  --secondary-red: #691111;

  --primary-orange: #d2680b;
  --secondary-orange: #b72700;
}

* {
  font-family: "Ubuntu", sans-serif;
}

body,
html {
  background-color: #1b1b1b;
  color: white;
}

.small-txt {
  font-size: 14px;
}
.large-txt {
  font-size: 40px;
  font-weight: bold;
}
.btn,
.red-btn {
  background-color: var(--primary-color);
  color: black;
  border: 0;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  box-shadow: 0px 2px 5px black;
  transition: all 0.3s ease-in-out;
}

.red-btn {
  color: white;
  background-color: #7b1616;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.red-btn:hover {
  background-color: #570d0d;
  color: white;
}

.btn,
.red-btn {
  transition: all 0.3s ease-in-out;
}
.btn,
.red-btn:hover {
  transform: scale(1.04);
}

#projects-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.project-card {
  margin: 10px 0px;
  position: relative;
  background-color: #303030;
  padding: 0px;
  display: flex;
  flex-direction: column;
  line-height: 1;
  width: 100%;
  border-radius: 10px;
  border-left: 5px solid #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px black;
}
.project-info {
  padding: 5px 10px;
}

.project-card:hover {
  border-left: 5px solid var(--primary-color);
  transform: scale(1.02);
}

.project-name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#project-list,
#current {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding: 10px;
  align-items: center;
}
.start-project-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 5px;
  font-size: 10px;
  border-radius: 6px;
  text-transform: uppercase;
}

.price {
  color: lightgreen;
}
.time-info {
  background-color: black;
  padding: 4px;
  border-radius: 5px;
  width: fit-content;
}

h1 {
  color: var(--primary-color);
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding-bottom: 2px;
  background: var(--primary-color);
  text-align: center;
  vertical-align: central;
  font-size: 28px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-btn:hover {
  /* rotate */
  transform: rotate(90deg);
  background-color: var(--secondary-color);
}

.bg-primary {
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
  color: black;
}

.bg-primary:hover {
  background-color: var(--secondary-color);
  color: white;
}

.bg-red {
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-red);
  color: white;
}

.bg-red:hover {
  background-color: var(--secondary-red);
  color: white;
}

.bg-orange {
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-orange);
  color: white;
}

.bg-orange:hover {
  background-color: var(--secondary-orange);
}


.bg-purple {
  transition: all 0.3s ease-in-out;
  background-color: purple;
  color: white;
}

.bg-purple:hover {
  background-color: rebeccapurple;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: end;
  margin: 8px;
  gap: 4px;
}

.action-btn {
  width: 33.33%;
  border: 0px;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

#total-money {
  background-color: lightgreen;
  color: black;
  padding: 6px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  #projects-container {
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1080px) {
  #projects-container {
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}
